* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  background: linear-gradient(-135deg, #4158d0, #0ae5f0);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-navbar {
  width: 75%;
  position: relative;
  left: 55px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.linkbox {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
}
.wrapper {
  width: 50%;
}
.linkbox:hover {
  background-color: white;
  padding: 4px 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  padding: 6px;
}
.acclogo {
  width: 70%;
  position: relative;
  top: 7px;
}
/* .name {
  position: relative;
  top: 20px;
  right: 0%;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration-line: underline;
  text-decoration-thickness: 0.13rem;
  text-decoration-color: brown;
  color: brown;
} */
.name {
  position: relative;
  top: -2px;
  font-weight: 500;
  text-decoration: underline;
  color: #ff5506;
}
.menu-btn {
  display: none;
}
.accicon {
  background-color: rgba(78, 253, 224, 0.178);
  padding: 3px;
  border-radius: 20px;
}

@media screen and (max-width: 950px) {
  .body {
    overflow-x: hidden;
  }
   .nav-links {
    display: block;
  }
  .logo-navbar {
    top: 0;
    left: -100px;
  }
  .linkbox:hover {
    background-color: transparent;
  }
  .wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    background: linear-gradient(-135deg, #4158d0, #0ae5f0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper {
    clip-path: circle(75%);
  }
  .menu-btn {
    display: block;
    position: absolute;
    z-index: 3;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #4158d0, #0ae5f0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li {
    margin: 5px 0;
  }
  .wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }
  .wrapper ul li a:hover {
    color: #4158d0;
  }

 
  .accicon {
    background-color: transparent;
  }
}
input[type="checkbox"] {
  visibility: hidden;
}
/*SECTION PARTS SIZING*/
h1 {
  font-size: 200%;
}

.header h1 {
  margin-top: -20px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  color: #333;
}
.section {
  position: relative;
  padding: 20% 10%;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.7), 0 -5px 1px rgba(0, 0, 0, 0.7);
  background: 50% 50% / cover;
}

/*SECTION DATA BOXES*/
.text {
  width: 50%;
  padding: 10px 50px;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.header,
.footer {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

/*SECTION IMAGES*/
#title {
  background-image: url("./images/pp.jpg");
  background-color: black;
  background-position-y: -50px;
  background-attachment: fixed;
  background-size: 100vw 137vh;
  background-repeat: no-repeat;
}

.titleline,
.titlepara {
  text-shadow: 2px 4px 4px black;
}
